@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Philosopher:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other CSS rules go here */

.hover {
  @apply  md:text-gray-300 text-gray-800 rounded-2xl hover:bg-gray-200 md:hover:bg-transparent px-1 py-1  flex justify-center items-center;
}
.imgStyle {
  @apply cursor-pointer hover:scale-125 duration-300 w-auto object-cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box {
  @apply overflow-hidden  ease-out;
}

.dark {
  @apply bg-gray-900 text-white;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  margin: auto;
}

.font {
  font-family: "Dancing Script", cursive;
}
