@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Philosopher:ital@0;1&display=swap");
.hover {
  @apply hover:bg-cyan-600 hover:text-white px-3 py-2 rounded-xl;
}
.imgStyle {
  @apply cursor-pointer hover:scale-125 duration-300 w-auto object-cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.box {
  @apply overflow-hidden  ease-out;
}

body {
  font-family: "Philosopher", sans-serif;
  width: 100%;
  margin: auto;
}

.font {
  font-family: "Dancing Script", cursive;
}
